:root {
  --green: #43a047;
  --yellow: #fbc02d;
  --red: #e53935;
  --blue: #039be5;
  --purple: #8e24aa;
  --orange: #fb8c00;
  --white: #fff;
  --dark: #212121;
  --gray: #484848;
}

.green { color: var(--green); }
.yellow { color: var(--yellow); }
.red { color: var(--red); }
.blue { color: var(--blue) }
.orange { color: var(--orange); }
.purple { color: var(--purple); }
.white { color: var(--white); }

.bg-green { background-color: var(--green); }
.bg-blue { background-color: var(--blue); }
.bg-purple { background-color: var(--purple); }
.bg-orange { background-color: var(--orange); }
.bg-red { background-color: var(--red); }
.bg-yellow { background-color: var(--yellow); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
